# Файл для исключения ненужных файлов при загрузке в Google Cloud.

# Исключаем все "скрытые" файлы и папки
.gcloudignore
.gitignore
.git
.idea/
.vscode/
.idx/

# Исключаем виртуальное окружение Python
venv/
*.pyc
__pycache__/

# Исключаем локальную базу данных, если она не должна быть частью образа
data/database.db

# Файлы зависимостей IDE
*.iml
